<h1>Followed Accounts</h1>

<div class="account-list">
  <div class="account-card" *ngFor="let account of accounts">
    <mat-card style="background-color: #ec8b0d;">
      <mat-card-header>
        <div mat-card-avatar class="profile-image">
          <img *ngIf="account.profileImage" [src]="account.profileImage" [alt]="'profile image of ' + account.name" />
          <img *ngIf="!account.profileImage" src="../../assets/1511304664.png" [alt]="'profile image of ' + account.name + ', but it seems to not be working properly...'" />
        </div>
        <mat-card-title style="color: white;"><h3>{{ account.name }}</h3></mat-card-title>
        <br>
        <mat-card-subtitle>
          <button mat-button fxFlex fxLayoutAlign="start center" [routerLink]="['/following/' + account.username]"  style="color: white;">@{{ account.username }}</button>
        </mat-card-subtitle>
      </mat-card-header>
     </mat-card>
  </div>
</div>
