@use '@angular/material' as mat;

@include mat.core();
$theme-squealer: (
  50 : #ffffff,
  100 : #3d0050,
  200 : #3d0050,
  300 : #3d0050,
  400 : #3d0050,
  500 : #3d0050,
  600 : #3d0050,
  700 : #3d0050,
  800 : #3d0050,
  900 : #3d0050,
  A100 : #333,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-primary: mat.define-palette($theme-squealer);
$my-accent: mat.define-palette($theme-squealer, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(
    $font-family: serif,
  )
));

@include mat.all-component-themes($my-theme);
