<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderator Dashboard</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <button>
                    Users
                </button>
            </li>
            <li>
                <button>
                    Squeals
                </button>
            </li>
            <li>
                <button>
                    Official Channels
                </button>
            </li>
        </ul>
    </nav>
</body>
<script src=""></script>
</html>