<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li>
                <button onclick="document.location.href = '/backoffice/users'">Users</button>
            </li>
            <li>
                <button onclick="document.location.href = '/backoffice/squeals'">Squeals</button>
            </li>
            <li>
                <button onclick="document.location.href = '/backoffice/officialchannels'">Official Channels</button>
            </li>
        </ul>
    </nav>
</header>
<main>
   <div id="usertable"></div>
</main>
</body>
</html>