
<div class="feed-container">
  <h2>Squealer Feed</h2>

  <div fxLayout="column" class="responsive-mat-form" *ngIf="isLoggedIn">
    <mat-form-field class="full-width" appearance="outline" color="accent">
      <mat-label>What are you thinking?</mat-label>
      <input matInput [(ngModel)]="newSqueal.content"/>
    </mat-form-field>
    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" (click)="addPost()">Add Post</button>
    </div>
  </div>

  <div class="login" *ngIf="!isLoggedIn">
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <p *ngIf="!isLoggedIn">Please login to add a post.</p>
  </div>


  <div class="posts">
    <div *ngFor="let squeal of squeals">
      <mat-card id="squeal">
        <mat-card-header>
          <div mat-card-avatar><img width="40" src="../assets/1511304664.png" /></div>
          <mat-card-title class="squealTitle">{{ squeal.username }}</mat-card-title>
          <br>
          <mat-card-subtitle class="squealText">{{ formatDate(squeal.timestamp) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="squealText">{{ squeal.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


</div>



