#squeal {
  margin-bottom: 20px;
  background-color: #3d0050;
}
.squealTitle {
  color: white;
  font-size: xx-large;
}
.squealText {
  color: white;
}

.full-width {
  width: 100%;
  background: none !important;
  color: white;
}

.feed-container {
  margin: 0 auto;
}

.posts {
  margin: auto;
  height:600px;
  width: 50%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.posts::-webkit-scrollbar {
  display: none;
}


.post {
  margin-bottom: 10px;
}

.new-post {
  margin-top: 20px;
  padding: 10px;
}

.login {
  margin-top: 20px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
