<div class="feed-container">
  <h2 class="hometitle">Homepage</h2>

  <div class="button-group" *ngIf="isLoggedIn">
    <a mat-raised-button color="primary" *ngIf="plan === 'admin'" type="button" class="button-href" href="/backoffice">Go to Backoffice</a>
  </div>

  <div fxLayout="column" class="responsive-mat-form" *ngIf="isLoggedIn">
    <div *ngIf="isPopupOpen" class="popup">
      <label id="example-radio-group-label">Pick the type of the squeal:</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="squealType">
        <mat-radio-button value="text">Text</mat-radio-button>
        <mat-radio-button value="media">Media</mat-radio-button>
        <mat-radio-button value="geo">Geo</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="full-width" appearance="outline" color="primary">
        <div *ngIf="squealType !== 'media'">
          <mat-label color="primary">What are you thinking?</mat-label>
          <input color="primary" matInput [(ngModel)]="newSqueal.body"/>
          <label id="example-check-group-label">This squeal is:</label>
          <section aria-labelledby="example-check-group-label" >
            <mat-checkbox [(ngModel)]="squealSubType">Timed</mat-checkbox>
          </section>
          <div *ngIf="squealSubType">
            <mat-label color="primary">Set the frequency of the post (in seconds):</mat-label>
            <mat-slider min="10" max="60" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb>
            </mat-slider>
          </div>
        </div>
        <div *ngIf="squealType === 'media'">
          <mat-toolbar>
            <input matInput [value]="selectedFileName ? selectedFileName : 'Select Image'" />
            <button mat-flat-button color="primary" [disabled]="!selectedFile" (click)="uploadFiles()"> Upload</button>
          </mat-toolbar>
          <input type="file" id="fileInput" name="fileInput" accept="image/*" (change)="selectFiles($event)"/>
        </div>
      </mat-form-field>
      <div *ngIf="squealType === 'geo'">
        <div class="map-container"
          leaflet
          [leafletOptions]="options"
          (leafletMapReady)="onMapReady($event)"
          (leafletClick)="mapClicked($event)">
        </div>
      </div>
      <mat-form-field class="thirtythree-width" appearance="outline" color="primary">
        <mat-label>Recipients (they must be separated by comma):</mat-label>
        <input matInput [(ngModel)]="recipients">
      </mat-form-field>
      <div *ngIf="squealType === 'media'">
        <img [src]="newSqueal.body" class="preview">
      </div>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" (click)="addPost()">Add Post</button>
        <button mat-raised-button color="primary" (click)="closePopup()">Cancel</button>
      </div>
    </div>
    <br>
          <div *ngIf="isAnswerOpen" class="answerPopup">
            <label id="example-radio-group-label">Pick the type of the squeal:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="squealType">
              <mat-radio-button value="text">Text</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="full-width" appearance="outline" color="primary">
              <div *ngIf="squealType !== 'media'">
                <mat-label color="primary">What are you thinking?</mat-label>
                <input color="primary" matInput [(ngModel)]="newAnswer.body"/>
              </div>
            </mat-form-field>

            <div class="button-group">
              <button mat-raised-button color="primary" type="submit" (click)="answer(answeredId)">Add Answer</button>
              <button mat-raised-button color="primary" (click)="closeAnswer()">Cancel</button>
            </div>
          </div>
  </div>


  <div class="login" *ngIf="!isLoggedIn">
    <button mat-raised-button color="primary" [routerLink]="['/authentication']">Login</button>
    <p *ngIf="!isLoggedIn">Please login to add a post.</p>
  </div>
  <br>

  <div class="posts">
    <div *ngFor="let squeal of squeals">
      <mat-card id="squeal" *ngIf="squeal.originalSqueal === ''">
        <mat-card-header>
          <div mat-card-avatar class="profile-image">
            <!--<img *ngIf="squeal?.profileImage" [src]="squeal?.profileImage" [alt]="'profile image of ' + squeal?.username" />-->
            <img src="../../assets/1511304664.png" [alt]="'profile image of ' + squeal?.author + ', but it seems to not be working properly...'" />
          </div>
          <mat-card-title class="squealTitle" [routerLink]="['/following/'+ squeal.author]">{{ squeal.author }}</mat-card-title>
          <br>
          <mat-card-subtitle class="squealText">{{ formatDate(squeal.date) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="squeal.type !== 'media'">
          <p class="squealText">{{ squeal.body }}</p>
          <div class="button-group">
            <button class="upvote" mat-raised-button color="primary" (click)="addUpvote(squeal._id)">
              <p class="upvoteText">{{ squeal.positiveReactions?.length }}</p>
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button class="upvote" mat-raised-button color="primary" (click)="addDownvote(squeal._id)">
              <p class="upvoteText">{{ squeal.negativeReactions?.length }}</p>
              <mat-icon>thumb_down</mat-icon>
            </button>
            <button class="upvote" mat-raised-button (click)="openAnswer(squeal._id)">
              <mat-icon>question_answer</mat-icon>
            </button>
          </div>
          <br>
          <div *ngFor="let answer of responses">
            <div *ngIf="answer.originalSqueal === squeal._id ">
              <mat-card id="answer">
                <mat-card-header>
                  <div mat-card-avatar class="profile-image">
                    <!-- <img *ngIf="answer?.profileImage" [src]="answer?.profileImage" [alt]="'profile image of ' + answer?.username" /> -->
                    <img src="../../assets/1511304664.png" [alt]="'profile image of ' + squeal?.author + ', but it seems to not be working properly...'" />
                  </div>
                <mat-card-title class="squealTitle" [routerLink]="['/following/'+ answer.author]">{{ answer.author }}</mat-card-title>
                <br>
                <mat-card-subtitle class="squealText">{{ formatDate(answer.date) }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="squeal.type !== 'media'">
                  <p class="squealText">{{ answer.body }}</p>
                  <div class="button-group">
                    <button class="upvote" mat-raised-button color="primary" (click)="addUpvote(answer._id)">
                      <p class="upvoteText">{{ answer.positiveReactions?.length }}</p>
                      <mat-icon>thumb_up</mat-icon>
                    </button>
                    <button class="upvote" mat-raised-button color="primary" (click)="addDownvote(answer._id)">
                      <p class="upvoteText">{{ answer.negativeReactions?.length }}</p>
                      <mat-icon>thumb_down</mat-icon>
                    </button>
                  </div>
                </mat-card-content>
                <mat-card-content *ngIf="squeal.type === 'media'">
                  <img [src]="squeal.body">
                  <div class="button-group">
                    <button class="upvote" mat-raised-button color="primary" (click)="addUpvote(answer._id)">
                      <p class="upvoteText">{{ answer.positiveReactions?.length }}</p>
                      <mat-icon>thumb_up</mat-icon>
                    </button>
                    <button class="upvote" mat-raised-button color="primary" (click)="addDownvote(answer._id)">
                      <p class="upvoteText">{{ answer.negativeReactions?.length }}</p>
                      <mat-icon>thumb_down</mat-icon>
                    </button>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
        <mat-card-content *ngIf="squeal.type === 'media'">
          <img [src]="squeal.body">
          <div class="button-group">
            <button class="upvote" mat-raised-button (click)="addUpvote(squeal._id)" >
              <p class="upvoteText">{{ squeal.positiveReactions?.length }}</p>
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button class="upvote" mat-raised-button color="primary" (click)="addDownvote(squeal._id)">
              <p class="upvoteText">{{ squeal.negativeReactions?.length }}</p>
              <mat-icon>thumb_down</mat-icon>
            </button>
            <button class="upvote" mat-raised-button (click)="openAnswer(squeal._id)" >
              <mat-icon>question_answer</mat-icon>
            </button>
          </div>
          <br>
          <div *ngFor="let answer of responses">
            <div *ngIf="answer.originalSqueal === squeal._id ">
              <mat-card id="answer">
                <mat-card-header>
                  <div mat-card-avatar class="profile-image">
                    <!--<img *ngIf="answer?.profileImage" [src]="answer?.profileImage" [alt]="'profile image of ' + answer?.username" />-->
                    <img src="../../assets/1511304664.png" [alt]="'profile image of ' + squeal?.author + ', but it seems to not be working properly...'" />
                  </div>
                <mat-card-title class="squealTitle" [routerLink]="['/following/'+ answer.author]">{{ answer.author }}</mat-card-title>
                <br>
                <mat-card-subtitle class="squealText">{{ formatDate(answer.date) }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="squeal.type !== 'media'">
                  <p class="squealText">{{ answer.body }}</p>
                  <div class="button-group">
                    <button class="upvote" mat-raised-button color="primary" (click)="addUpvote(answer._id)">
                      <p class="upvoteText">{{ answer.positiveReactions?.length }}</p>
                      <mat-icon>thumb_up</mat-icon>
                    </button>
                    <button class="upvote" mat-raised-button color="primary" (click)="addDownvote(answer._id)">
                      <p class="upvoteText">{{ answer.negativeReactions?.length }}</p>
                      <mat-icon>thumb_down</mat-icon>
                    </button>
                  </div>
                </mat-card-content>
                <mat-card-content *ngIf="squeal.type === 'media'">
                  <img [src]="squeal.body">
                  <div class="button-group">
                    <button class="upvote" mat-raised-button color="primary" (click)="addUpvote(answer._id)">
                      <p class="upvoteText">{{ answer.positiveReactions?.length }}</p>
                      <mat-icon>thumb_up</mat-icon>
                    </button>
                    <button class="upvote" mat-raised-button color="primary" (click)="addDownvote(answer._id)">
                      <p class="upvoteText">{{ answer.negativeReactions?.length }}</p>
                      <mat-icon>thumb_down</mat-icon>
                    </button>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <button mat-fab color="primary" class="floating-button" (click)="openPopup()" *ngIf="!isPopupOpen">
    <mat-icon>plus_one</mat-icon>
  </button>

</div>



