
<div class="header" role="banner">
  <img width="40" alt="Squealer Logo" src="../assets/1511304664.png"/>
  <span>Squealer</span>
  <div class="spacer"></div>
  <div class="container">
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Products</a>
      <a href="#">Services</a>
      <a href="#">Contact Us</a>
    </nav>
  </div>
</div>

<div class="content" role="main">


</div>
<router-outlet></router-outlet>
<div class="footer" role="banner">
  <div class="container">Copyright &copy; 2016 Squealer.Inc</div>
</div>
