
<div class="content" role="main" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <img width="40" alt="Squealer Logo" src="../assets/1511304664.png"/>
    <span>Squealer</span>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="navBar">
      <mat-nav-list >
        <span *ngFor="let item of menu">
          <span  *ngIf="item.children && item.children.length > 0">
            <mat-accordion>
              <mat-expansion-panel class="navBar">
                <mat-expansion-panel-header>
                  <mat-panel-title class="navBar">
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                      <mat-icon>{{item.iconName}}</mat-icon>
                      {{item.displayName}}
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <span class="navBar" *ngFor="let child of item.children">
                  <mat-list-item routerLink="[child.route]" class="navBar">
                    <div class="navBar" fxLayout="row" fxLayoutAlign="space-between center" >
                      <mat-icon>{{child.iconName}}</mat-icon>
                      {{child.displayName}}
                    </div>
                  </mat-list-item>
                </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
          <span *ngIf="!item.children || item.children.length === 0">
            <mat-list-item routerLink="[item.route]" class="navBar">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon>{{item.iconName}}</mat-icon>
                {{item.displayName}}
              </div>
            </mat-list-item>
          </span>
        </span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex="100" fxLayout="row">
      <mat-card fxLayout="column" fxFlex class="mainContent">
        <mat-card-content fxLayout="column" fxFlex>
          <div class="mainContentBody"
            [ngStyle]="{'width.px': screenWidth, 'min-width.px': screenWidth, 'max-width.px': screenWidth}">
            <router-outlet></router-outlet>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar fxLayout="row" ngClass-xs="footerToolbarXs footerToolbarTextXs" ngClass="footerToolbar footerToolbarText"
    color="primary">
    Squealer &copy; &nbsp;&nbsp;<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="color: white;">Squealer Inc.</a>
  </mat-toolbar>


</div>

